version: 2
jobs:
  build:
    environment:
      DOCKER_USER: "computerfr33k"
    machine: true
    steps:
      - checkout
      - run: |
         docker login -u $DOCKER_USER -p $DOCKER_PASS

      # build the images
      - run: cd ruby-bionic; docker build -t computerfr33k/ruby-bionic .
      - run: cd video-transcoding; docker build -t computerfr33k/video-transcoding .
      - run: docker build -t computerfr33k/batch-transcode-video batch-transcode-video

      # deploy the images
      - run: docker push computerfr33k/ruby-bionic
      - run: docker push computerfr33k/video-transcoding
      - run: docker push computerfr33k/batch-transcode-video